.error {
    border: red 1px solid;
   }
   
   .errorMessage {
    color: red;
   }
   
.styleButton {
    background-color: royalblue;
}

.opacityTask {
    position: relative;
    opacity: 0.6;
    text-decoration: line-through;
}

.opacityTask::after{
   content: '';
    border-bottom: 2px solid red;
}